*.csv
*.json
*.jpg
*.pth
*.pt
*/log/
*/result/
output/
__pycache__/
*/__pycache__/
*.log
*.out
*.tar
train.sh
save/
3rd_party/
torch-fidelity
torch_video_fidelity
tmp.py
mocogan
test.sh
train.sh
*.obj
